
@import '~@angular/material/theming';
@include mat-core();

$auction-buddy-web-primary: mat-palette($mat-indigo);
$auction-buddy-web-accent: mat-palette($mat-pink, A200, A100, A400);

$auction-buddy-web-warn: mat-palette($mat-red);

$auction-buddy-web-theme: mat-light-theme($auction-buddy-web-primary, $auction-buddy-web-accent, $auction-buddy-web-warn);

@include angular-material-theme($auction-buddy-web-theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
